.ant-layout-header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 120px;
  height: 31px;

  margin: 16px 24px 16px 0;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 31px;
}

.ant-layout-sider-trigger {
  display: none;
}
